@model GuestBooks.ViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = "修改密碼";
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    }

<h2>@ViewData["ChangeState"]</h2>
<h2>修改密碼</h2>

@*建立修改密碼所需表單*@
@using (Html.BeginForm()) 
{
    @Html.ValidationSummary(true)
    @*建立修改密碼資料內容的表格*@
    <table>
        <tr>
            <td>
                @Html.LabelFor(m=>m.Password)
            </td>
            <td>
                @Html.PasswordFor(m=>m.Password)
                @Html.ValidationMessageFor(m=>m.Password)
            </td>
        </tr>
         <tr>
            <td>
                @Html.LabelFor(m=>m.NewPassword)
            </td>
            <td>
                @Html.PasswordFor(m=>m.NewPassword)
                @Html.ValidationMessageFor(m=>m.NewPassword)
            </td>
        </tr>
          <tr>
            <td>
                @Html.LabelFor(m=>m.NewPasswordCheck)
            </td>
            <td>
                @Html.PasswordFor(m=>m.NewPasswordCheck)
                @Html.ValidationMessageFor(m=>m.NewPasswordCheck)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="修改密碼" />
            </td>
        </tr>
    </table>
    
}


